{
    "extends": "smartthings/react",
    "rules": {
        "id-length": [
            "error", {
                "exceptions": ["_", "a", "b"]
            }
        ],
        "no-magic-numbers": [
            "error", {
                "ignore": [-1, 0, 1]
            }
        ]
    }
}
