@import '../../scss/_variables';

.motion-mount {
	flex: 1 1 percentage(1/3);
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	flex: 2 1 percentage(2/3);
	display: flex;
	justify-content: center;

	.status {
		display: flex;
		font-size: 2.5vw;
		justify-content: center;
	}

	.details {
		display: flex;
		font-size: 2vw;
	}
}

.motion {
	background: white;
	border: 1px solid white;
	border-radius: 5px;
	width: 7vw;
	height: 6vw;

	display: flex;
	justify-content: center;
	align-items: center;

	.sensor {
		background-color: $background-color;
		border: 1px solid white;
		border-radius: 50%;
		width: 3vw;
		height: 3vw;
	}
}

.awesome {
	.content .status {
		font-size: 2.5vw;
	}
}

.awful {
	.motion {
		background-color: $warn-color;
		animation: 2s ease-in infinite spaceboots;
	}
}

@keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

