@import '../../scss/_variables';

$floorHeight: 50px;

.widget-weather {
	.building {
		flex: 1 1 auto;
		height: auto;
	}

	.weather-icon {
		text-align: center;
		font-size: 10vw;
		margin-right: 3vw;
	}

	.conditions {
		display: flex;
		flex-direction: column;
		font-size: 3vw;
	}

	.temperature {
		text-align: center;
		font-size: 4vw;
	}

	.humidity span,
	.wind span,
	.alert span {
		width: 30px;
		display: inline-block;
		text-align: center;
	}

	.alert {
		flex: 0 0 100%;
		text-align: center;
	}

	.humidity:after {
		content: '%';
		vertical-align: super;
		font-size: 50%;
	}

	.wind:after {
		content: 'mph';
		vertical-align: super;
		font-size: 50%;
	}
}
