@import '../../scss/_variables';

.widget {
	color: white;
	border: 2px solid #fff;
	border-radius: 3px;

	padding: 5px;
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 33vh;

	margin-bottom: $marginSize;

	transition: 0.5s opacity;

	&.busy {
		opacity: 0.5;
	}
}
