@import '../../scss/_variables';

$doorFrameWidth: 3px;

$holeWidth: ($totalWidth * .45);
$holeHeight: ($totalHeight * (1/3));

.widget.widget-door-control {
	padding: 0;

	&.warn .hole {
		background: $warn-color;
	}
}

.walls {
	margin: 0 $wallMargin;
	width: $wallWidth;
	min-height: $wallHeight;
	background: $building-color;

	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.hole {
	width: $holeWidth;
	height: $holeHeight;

	background: $background-color;
	border: $doorFrameWidth solid white;
	border-bottom: 0;
}

.door {
	width: 100%;
	height: 100%;

	background: $building-color;
	box-shadow:
		inset 0px 0px 6px #ccc;

	&.opening {
		animation: door-opening 2s infinite linear;
	}

	&.closing {
		animation: door-closing 2s infinite linear;
	}

	&.open, &.closing {
		height: 0;
	}
}

@keyframes door-opening {
	to {
		height: 0;
	}
}

@keyframes door-closing {
	to {
		height: 100%;
	}
}
