@import '../../scss/_variables';

$floorHeight: 50px;

.widget-climate {
	flex-direction: column;

	.building {
		flex: 1 1 auto;
		height: auto;
	}
}

.floor {
	margin: 0 $wallMargin;
	width: $wallWidth;
	background: $building-color;
	margin-top: 1px;
	display: flex;
	color: $gray-dark;

	.temperature {
		flex: 1 1 auto;
		text-align: center;
	}

	.humidity {
		flex: 1 1 auto;
		text-align: center;

		&:after {
			content: '%';
			vertical-align: super;
			font-size: 50%;
		}
	}
}
