@import '../../scss/_variables';

$floorHeight: 50px;

.widget-climate {
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.building {
		flex: 1 1 auto;
		height: auto;
	}
}

.outdoorClimate {
	flex: 1 1 auto;
	display: flex;
	padding: 10px;
	color: white;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	.weather-icon {
		text-align: center;
		font-size: 10vw;
		margin-right: 3vw;
	}

	.conditions {
		display: flex;
		flex-direction: column;
		font-size: 3vw;
	}

	.temperature {
		text-align: center;
		font-size: 4vw;
	}

	.humidity span,
	.wind span,
	.alert span {
		width: 30px;
		display: inline-block;
		text-align: center;
	}

	.alert {
		flex: 0 0 100%;
		text-align: center;
	}

	.humidity:after {
		content: '%';
		vertical-align: super;
		font-size: 50%;
	}

	.wind:after {
		content: 'mph';
		vertical-align: super;
		font-size: 50%;
	}
}

.indoorClimate {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.floor {
	margin: 0 $wallMargin;
	width: $wallWidth;
	background: $building-color;
	margin-top: 1px;
	display: flex;
	color: $gray-dark;

	.temperature {
		flex: 1 1 auto;
		text-align: center;
	}

	.humidity {
		flex: 1 1 auto;
		text-align: center;

		&:after {
			content: '%';
			vertical-align: super;
			font-size: 50%;
		}
	}
}
