@import '../../scss/_variables';

.widget-contact {
	color: white;

	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;

	transition: 0.5s background-color;
}

.window-frame {
	flex: 1 1 percentage(1/3);
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	flex: 2 1 percentage(2/3);
	display: flex;
	justify-content: center;

	.status {
		display: flex;
		font-size: 2.5vw;
		justify-content: center;
	}

	.details {
		display: flex;
		font-size: 2vw;
	}
}

.window {
	height: 110px;
	width: 70px;
	border-width: 8px;
	border-style: solid;
	border-color: #d8d8d8 #eeeeee;

	.pane {
		background: rgba(255, 255, 255, .3);
		border: 3px solid #743;
		height: 50%;
		transition: margin-top 1s;
	}
}

.awesome {
	.content .status {
		font-size: 2.5vw;
	}
}

.awful {
	.window {
		background: $warn-color;

		.pane.bottom {
			margin-top: -75%;
		}
	}
}


