@import '../../../style/_variables';

.list-contact {
	.open {
		background-color: $warn-color;
		border-color: darken($warn-color, 20%);
	}

	.closed {
		background-color: $good-color;
		border-color: darken($good-color, 20%);
	}
}
