@import '../../scss/_variables';

$columns: 5;
$rows: 3;

$width: (100vw - $marginWidth) / $columns - $marginWidth;
$width2x: $width * 2 + $marginWidth;

$height: (100vh - $marginHeight) / $rows - $marginHeight;

.dashboard {
	display: flex;
	flex-wrap: wrap;
	padding: $marginHeight/2 $marginWidth/2;

	.widget {
		margin: $marginHeight/2 $marginWidth/2;
		height: $height;
	}
}

.widget.widget-alarm {
	width: $width;
}

.widget-contact {
	width: $width2x;
}

.widget-climate {
	width: $width;
}

.widget-door-control {
	width: $width;
}

.widget-motion {
	width: $width2x;
}

.widget.widget-location {
	width: $width2x;
}

.widget.widget-refresh {
	width: $width;
}

.widget.widget-power {
	width: $width;
}

.widget-switch {
	width: $width2x;
}

.widget-weather {
	width: $width2x;
}
