@import '../../scss/_variables';

$wide-width: 39%;
$width: 19%;

$small-height: 27vh;

.dashboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1%;
}

.widget-contact {
	width: $wide-width;
}

.widget-climate {
	width: $width;
}

.widget-door-control {
	width: $width;
}

.widget-motion {
	width: $wide-width;
}

.widget.widget-refresh {
	width: $width;
	height: $small-height;
}

.widget.widget-power {
	width: $width;
	height: $small-height;
}

.widget-switch {
	width: $wide-width;
}

.widget-weather {
	width: $wide-width;
}

.placeholder.row {
	flex: 1 1 auto;
	width: 100%;
}
