@import '../../scss/_variables';

.dashboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1%;
}

.widget-contact {
	width: 39%;
}

.widget-climate {
	width: 19%;
}

.widget-door-control {
	width: 19%;
}

.widget-motion {
	width: 39%;
}

.widget-switch {
	width: 39%;
}

.widget-weather {
	width: 39%;
}

.placeholder.row {
	flex: 1 1 auto;
	width: 100%;
}
