@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pkk6m5');
  src:  url('fonts/icomoon.eot?pkk6m5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pkk6m5') format('truetype'),
    url('fonts/icomoon.woff?pkk6m5') format('woff'),
    url('fonts/icomoon.svg?pkk6m5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lightbulb:before {
  content: "\e908";
}
.icon-refresh:before {
  content: "\f021";
}
.icon-humidity:before {
  content: "\f043";
}
.icon-alert:before {
  content: "\f071";
}
.icon-thermometer:before {
  content: "\e905";
}
.icon-w-unknown:before {
  content: "\e903";
}
.icon-w-cloudy:before {
  content: "\e900";
}
.icon-w-sleet:before {
  content: "\e901";
}
.icon-w-snow:before {
  content: "\e902";
}
.icon-w-flurries:before {
  content: "\e904";
}
.icon-w-rain:before {
  content: "\e907";
}
.icon-w-tstorms:before {
  content: "\e90a";
}
.icon-w-fog:before {
  content: "\e90f";
}
.icon-w-partlycloudy:before {
  content: "\e911";
}
.icon-w-windy:before {
  content: "\e913";
}
.icon-w-hazy:before {
  content: "\e914";
}
.icon-w-clear:before {
  content: "\e916";
}
