@import '../../node_modules/bootstrap/scss/bootstrap-reboot';
@import 'variables';
@import 'fonts';
@import 'spinner';

*, :after, :before {
    box-sizing: inherit;
}

html, body {
	background-color: $background-color;
	color: #fff;
}

.building {
	width: $totalWidth;
	height: $totalHeight;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: relative;
}

.roof {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 $roofWidth/2 $roofHeight $roofWidth/2;
	border-color: transparent transparent $building-color transparent;
}

.to-dashboard {
	background-color: $gray-light;
	color: white;

	margin: 0 $marginWidth $marginWidth 0;
	padding: $marginWidth/2;
	border: 1px solid;
	border-radius: 3px;
}
